.content_header {
  background: linear-gradient(transparent 70%, #a7d6ff 70%);
  border-bottom: 1px solid #E6E6E6;
}

.button {
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;
    color: #FFF;
    border-radius: 4px;
    box-shadow: 0px 0px 0px 5px #668ad8;
    border: dashed 1px #FFF;
    overflow: scroll;
}

.button:hover{
    border: dotted 1px #FFF;
}


.box14 {
    padding: 0.2em 0.5em;
    margin: 2em 0;
    background: #d6ebff;
    box-shadow: 0px 0px 0px 10px #d6ebff;
    border: dashed 2px white;
}
.box14 p {
    margin: 0;
    padding: 0;
}



